# General
.DS_Store
.AppleDouble
.LSOverride

# Specific Files
generic.html
elements.html
webgl.html
webglscript.js
html5up-spectral.zip
.sass-cache/*
SustainableGuitar.pptx
**/ignore
*.pptx
*.docx
_site
